### Downloading the Price datasets

BTC: https://www.investing.com/crypto/bitcoin/historical-data <br>
SNP500: https://www.investing.com/indices/us-spx-500-historical-data <br>
VIX: https://www.investing.com/indices/volatility-s-p-500-historical-data <br>
GOLD: https://www.investing.com/commodities/gold-historical-data

In [87]:
import pandas as pd

# Load in main price datasets
btc = pd.read_csv('data/price/btc.csv')
eth = pd.read_csv('data/price/eth.csv')
sol = pd.read_csv('data/price/sol.csv')

#### Creating functions for pre-proccesing 
# 1. Removing the Comma from the price action 
def comma_form (column): 
    column = column.str.replace(',', '')
    column = pd.to_numeric(column, errors='coerce')
    return column

# 2. Converting the Volume Function 
def convert_volume(volume):
    # Check if the value is a string and needs conversion
    if isinstance(volume, str):
        factor = 1
        if volume.endswith('K'):
            factor = 10**3
        elif volume.endswith('M'):
            factor = 10**6
        elif volume.endswith('B'):
            factor = 10**9
        # Remove the last character and convert to float
        return float(volume[:-1]) * factor
    else:
        # If not a string, return as is (assuming it's already a numeric type)
        return volume
    
# 3. Adjusting the Change % Column 
def percent(percent):
    return pd.to_numeric(percent.str.replace('%', '')) / 100

# 4. Date Selection
def date_filter(df, start_date_str, end_date_str):

    # Convert start and end date strings to datetime
    start_date = pd.to_datetime(start_date_str, dayfirst=True)
    end_date = pd.to_datetime(end_date_str, dayfirst=True)

    # Filter based on the date range
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    return df.loc[mask]

### BTC PRICES

In [88]:
# 1. Converting the Date columns to Date
btc.Date = pd.to_datetime(btc.Date)

# 2. Applying the Comma function on Prices
btc.Price = comma_form(btc.Price)
btc.Open = comma_form(btc.Open)
btc.High = comma_form(btc.High)
btc.Low = comma_form(btc.Low)

# 3. Renaming Volume and applying fomatting
btc['Volume']= btc['Vol.']
btc.Volume = btc.Volume.apply(convert_volume)
    
# 4. Applying the PCT Change Column
btc['Change %'] = percent(btc['Change %'])
btc['pct_change'] = btc['Change %']

# 5. Deleting old formatted columns
btc = btc.drop(['Vol.', 'Change %'], axis = 1)

#mark.to_csv('Data/Model_Data/SOL_Latest.csv', index = False)    

btc

          Date    Price     Open     High      Low   Volume  pct_change
0   2024-06-08  69349.9  69347.0  69572.1  69222.4  56450.0      0.0000
1   2024-06-07  69347.9  70793.4  71956.5  68620.7  82620.0     -0.0204
2   2024-06-06  70791.5  71083.6  71616.1  70178.7  49790.0     -0.0041
3   2024-06-05  71083.7  70550.9  71744.4  70397.1  67060.0      0.0076
4   2024-06-04  70549.2  68808.0  71034.2  68564.3  75690.0      0.0253
..         ...      ...      ...      ...      ...      ...         ...
885 2022-01-05  43425.9  45833.1  47019.4  42535.1  83740.0     -0.0526
886 2022-01-04  45837.3  46435.7  47505.4  45602.1  55590.0     -0.0128
887 2022-01-03  46430.2  47293.9  47556.0  45704.0  41060.0     -0.0186
888 2022-01-02  47311.8  47738.7  47944.9  46718.2  27020.0     -0.0089
889 2022-01-01  47738.0  46217.5  47917.6  46217.5  31240.0      0.0329

[890 rows x 7 columns]

#### ETC PRICES

In [89]:
# 1. Converting the Date columns to Date
eth.Date = pd.to_datetime(eth.Date)

# 2. Applying the Comma function on Prices
eth.Price = comma_form(eth.Price)
eth.Open = comma_form(eth.Open)
eth.High = comma_form(eth.High)
eth.Low = comma_form(eth.Low)

# 3. Renaming Volume and applying fomatting
eth['Volume']= eth['Vol.']
eth.Volume = eth.Volume.apply(convert_volume)
    
# 4. Applying the PCT Change Column
eth['Change %'] = percent(eth['Change %'])
eth['pct_change'] = eth['Change %']

# 5. Deleting old formatted columns
eth = eth.drop(['Vol.', 'Change %'], axis = 1)

#mark.to_csv('Data/Model_Data/SOL_Latest.csv', index = False)    

eth

           Date    Price     Open     High      Low     Volume  pct_change
0    2024-06-08  3687.34  3678.36  3709.44  3670.34   353040.0      0.0024
1    2024-06-07  3678.37  3812.95  3840.88  3608.44   384780.0     -0.0353
2    2024-06-06  3812.95  3865.15  3878.28  3765.23   251820.0     -0.0135
3    2024-06-05  3865.14  3810.35  3885.15  3778.13   288180.0      0.0144
4    2024-06-04  3810.35  3767.10  3831.41  3743.11   247960.0      0.0115
...         ...      ...      ...      ...      ...        ...         ...
1250 2021-01-05  1099.52  1042.48  1131.56   976.91  3250000.0      0.0548
1251 2021-01-04  1042.40   977.76  1158.27   894.24  5190000.0      0.0692
1252 2021-01-03   974.97   774.54  1008.49   769.57  4020000.0      0.2588
1253 2021-01-02   774.50   729.00   787.26   715.15  2250000.0      0.0622
1254 2021-01-01   729.12   735.87   748.96   715.74  1640000.0     -0.0093

[1255 rows x 7 columns]

#### SOL PRICES

In [90]:
# 1. Converting the Date columns to Date
sol.Date = pd.to_datetime(sol.Date)

# 3. Renaming Volume and applying fomatting
sol['Volume']= sol['Vol.']
sol.Volume = sol.Volume.apply(convert_volume)
    
# 4. Applying the PCT Change Column
sol['Change %'] = percent(sol['Change %'])
sol['pct_change'] = sol['Change %']

# 5. Deleting old formatted columns
sol = sol.drop(['Vol.', 'Change %'], axis = 1)

#mark.to_csv('Data/Model_Data/SOL_Latest.csv', index = False)    

sol

           Date    Price     Open     High      Low     Volume  pct_change
0    2024-06-08  161.119  162.504  163.716  158.516  5150000.0     -0.0085
1    2024-06-07  162.504  170.114  172.583  155.049  5110000.0     -0.0447
2    2024-06-06  170.106  173.491  174.371  167.754  3070000.0     -0.0195
3    2024-06-05  173.491  171.784  175.565  171.207  3800000.0      0.0100
4    2024-06-04  171.778  164.898  171.859  164.446  3290000.0      0.0413
...         ...      ...      ...      ...      ...        ...         ...
1249 2021-01-05    2.155    2.489    2.489    2.093        NaN     -0.1339
1250 2021-01-04    2.489    2.161    2.489    1.945        NaN      0.1518
1251 2021-01-03    2.161    1.796    2.295    1.796        NaN      0.2027
1252 2021-01-02    1.796    1.837    1.986    1.733        NaN     -0.0222
1253 2021-01-01    1.837    1.514    1.837    1.507        NaN      0.2134

[1254 rows x 7 columns]

In [91]:
gold = pd.read_csv('data/price/gold.csv')
snp = pd.read_csv('data/price/snp.csv')
vix = pd.read_csv('data/price/vix.csv')

gold.Date, snp.Date, vix.Date = pd.to_datetime(gold.Date), pd.to_datetime(snp.Date), pd.to_datetime(vix.Date)

# 2. Applying the Comma function on Prices
gold.Price, snp.Price = comma_form(gold.Price), comma_form(snp.Price)
gold.Open, snp.Open = comma_form(gold.Open), comma_form(snp.Open)
gold.High, snp.High = comma_form(gold.High), comma_form(snp.High)
gold.Low, snp.Low= comma_form(gold.Low), comma_form(snp.Low)

# 3. Renaming Volume and applying fomatting
gold['Volume'], snp['Volume']= gold['Vol.'], snp['Vol.']
gold.Volume, snp.Volume = gold.Volume.apply(convert_volume), snp.Volume.apply(convert_volume)

# 4. Applying the PCT Change Column
gold['Change %'], snp['Change %'], vix['Change %']  = percent(gold['Change %']), percent(snp['Change %']), percent(vix['Change %'])
gold['pct_change'], snp['pct_change'], vix['pct_change'] = gold['Change %'], snp['Change %'], vix['Change %']

# 5. Deleting old formatted columns
gold, snp, vix = gold.drop(['Vol.', 'Change %'], axis = 1), snp.drop(['Vol.', 'Change %'], axis = 1), vix.drop(['Vol.', 'Change %'], axis = 1)

ext = pd.merge(gold, snp, on='Date')
ext = pd.merge(ext, vix, on='Date')

# Assuming df is your DataFrame
ext.rename(columns={
    'Price_x': 'Gold_Price',
    'Open_x': 'Gold_Open',
    'High_x': 'Gold_High',
    'Low_x': 'Gold_Low',
    'Volume_x': 'Gold_Volume',
    'pct_change_x': 'Gold_pct_change',
    'Price_y': 'SNP_Price',
    'Open_y': 'SNP_Open',
    'High_y': 'SNP_High',
    'Low_y': 'SNP_Low',
    'Volume_y': 'SNP_Volume',
    'pct_change_y': 'SNP_pct_change',
    'Price': 'VIX_Price',
    'Open': 'VIX_Open',
    'High': 'VIX_High',
    'Low': 'VIX_Low',
    'pct_change': 'VIX_pct_change'
}, inplace=True)

ext

,Date,Gold_Price,Gold_Open,Gold_High,Gold_Low,Gold_Volume,Gold_pct_change,SNP_Price,SNP_Open,SNP_High,SNP_Low,SNP_Volume,SNP_pct_change,VIX_Price,VIX_Open,VIX_High,VIX_Low,VIX_pct_change
0,2024-06-07,2325.0,2395.7,2406.7,2304.2,NaN,-0.0276,5346.99,5343.81,5375.08,5331.33,NaN,-0.0011,12.22,12.69,13.08,12.11,-0.0286
1,2024-06-06,2390.9,2375.3,2397.8,2372.2,172200.0,0.0065,5352.96,5357.80,5362.35,5335.36,NaN,-0.0002,12.58,12.75,12.98,12.54,-0.0040
2,2024-06-05,2375.5,2347.1,2377.6,2345.3,171860.0,0.0120,5354.03,5314.48,5354.16,5297.64,NaN,0.0118,12.63,13.14,13.25,12.60,-0.0403
3,2024-06-04,2347.4,2371.3,2373.1,2335.1,171550.0,-0.0092,5291.34,5278.24,5298.80,5257.63,NaN,0.0015,13.16,13.51,14.08,13.11,0.0038
4,2024-06-03,2369.3,2348.0,2375.5,2334.8,173150.0,0.0100,5283.40,5297.15,5302.11,5234.32,NaN,0.0011,13.11,13.08,14.31,13.00,0.0147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,2021-01-08,1835.4,1915.2,1918.4,1827.8,443510.0,-0.0409,3824.70,3815.10,3826.70,3783.60,NaN,0.0055,21.56,22.43,23.34,21.42,-0.0362
837,2021-01-07,1913.6,1921.5,1929.6,1907.5,199980.0,0.0026,3803.80,3764.70,3811.60,3764.70,NaN,0.0149,22.37,23.67,23.91,22.25,-0.1077
838,2021-01-06,1908.6,1952.8,1962.5,1902.6,366610.0,-0.0234,3748.10,3712.20,3783.00,3705.30,NaN,0.0057,25.07,25.48,26.77,22.14,-0.0107
839,2021-01-05,1954.4,1946.0,1957.0,1938.4,201950.0,0.0040,3726.90,3698.00,3737.80,3695.10,NaN,0.0071,25.34,26.94,28.60,24.80,-0.0604
840,2021-01-04,1946.6,1908.2,1948.7,1906.1,273370.0,0.0272,3700.70,3764.60,3770.00,3662.70,NaN,-0.0147,26.97,23.04,29.19,22.56,0.1855

##### Creating the tomorrow independent variable

In [92]:
def tomorrow(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.sort_values(by='Date', ascending=False)
    df['Tomorrow'] = df.Price.shift(1)
    df['Tomorrow'] = (df.Tomorrow > df.Price).astype(int)
    return df

btc, eth, sol = tomorrow(btc), tomorrow(eth), tomorrow(sol)

##### Join Gold, SNP, and VIX to Crypto Price Dataset

In [93]:
def join_other(df):
    df = pd.merge(df, ext, on='Date', how='left')
    return df
btc, eth, sol = join_other(btc), join_other(eth), join_other(sol)

In [95]:
eth

,Date,Price,Open,High,Low,Volume,pct_change,Tomorrow,Gold_Price,Gold_Open,...,SNP_Open,SNP_High,SNP_Low,SNP_Volume,SNP_pct_change,VIX_Price,VIX_Open,VIX_High,VIX_Low,VIX_pct_change
0,2024-06-08,3687.34,3678.36,3709.44,3670.34,353040.0,0.0024,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-06-07,3678.37,3812.95,3840.88,3608.44,384780.0,-0.0353,1,2325.0,2395.7,...,5343.81,5375.08,5331.33,NaN,-0.0011,12.22,12.69,13.08,12.11,-0.0286
2,2024-06-06,3812.95,3865.15,3878.28,3765.23,251820.0,-0.0135,0,2390.9,2375.3,...,5357.80,5362.35,5335.36,NaN,-0.0002,12.58,12.75,12.98,12.54,-0.0040
3,2024-06-05,3865.14,3810.35,3885.15,3778.13,288180.0,0.0144,0,2375.5,2347.1,...,5314.48,5354.16,5297.64,NaN,0.0118,12.63,13.14,13.25,12.60,-0.0403
4,2024-06-04,3810.35,3767.10,3831.41,3743.11,247960.0,0.0115,1,2347.4,2371.3,...,5278.24,5298.80,5257.63,NaN,0.0015,13.16,13.51,14.08,13.11,0.0038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1250,2021-01-05,1099.52,1042.48,1131.56,976.91,3250000.0,0.0548,1,1954.4,1946.0,...,3698.00,3737.80,3695.10,NaN,0.0071,25.34,26.94,28.60,24.80,-0.0604
1251,2021-01-04,1042.40,977.76,1158.27,894.24,5190000.0,0.0692,1,1946.6,1908.2,...,3764.60,3770.00,3662.70,NaN,-0.0147,26.97,23.04,29.19,22.56,0.1855
1252,2021-01-03,974.97,774.54,1008.49,769.57,4020000.0,0.2588,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1253,2021-01-02,774.50,729.00,787.26,715.15,2250000.0,0.0622,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1254,2021-01-01,729.12,735.87,748.96,715.74,1640000.0,-0.0093,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### Making the technical indicators

In [109]:
def technical_analysis(df):
    # Create a copy of the input DataFrame
    ta = df.copy()
    
    # 10D MA
    ta['MA'] = ta.Price.rolling(window=10).mean()
    ta['MA_td'] = (ta.Price > ta.MA).astype(int)
    
    # 30D MA
    ta['3MA'] = ta.Price.rolling(window=30).mean()
    ta['3MA_td'] = (ta.Price > ta['3MA']).astype(int)
    
    # %K
    lowest_low = ta.Low.rolling(window=10).min()
    highest_high = ta.High.rolling(window=10).max()
    ta['%K'] = (ta.Price - lowest_low) / (highest_high - lowest_low) * 100
    ta['%K_td'] = (ta['%K'] > ta['%K'].shift(1)).astype(int)
    
    # Calculate %D
    ta['%D'] = ta['%K'].rolling(window=3).mean()
    ta['%D_td'] = (ta['%D'] > ta['%D'].shift(1)).astype(int)
    
    # RSI 
    delta = ta.Price.diff()
    gain = (delta.where(delta > 0, 0)).rolling(window=14).mean()
    loss = (-delta.where(delta < 0, 0)).rolling(window=14).mean()
    rs = gain / loss
    ta['RSI'] = 100 - (100 / (1 + rs))
    
    def RSI_td(rsi_values):
        if rsi_values >= 70:
            return -1
        elif rsi_values <= 30:
            return 1
        else:
            return 0
    
    ta['RSI_td'] = ta.RSI.apply(RSI_td)
    
    # Momentum 
    momentum_window = 10 
    ta['Momentum'] = ta.Price - ta.Price.shift(momentum_window)
    ta['Momentum_td'] = (ta.Momentum > 1).astype(int)
    
    # MACD 12,26,9
    ta['EMA12'] = ta.Price.ewm(span=12, adjust=False).mean()
    ta['EMA26'] = ta.Price.ewm(span=26, adjust=False).mean()
    ta['MACD'] = ta['EMA12'] - ta['EMA26']
    ta['Signal'] = ta['MACD'].ewm(span=9, adjust=False).mean()
    ta['MACD_td'] = (ta['MACD'] > ta['MACD'].shift(1)).astype(int)
    
    # CCI
    ta['TP'] = (ta['High'] + ta['Low'] + ta['Price']) / 3
    
    # Calculate the 20-period Simple Moving Average of the Typical Price
    ta['SMA_TP'] = ta['TP'].rolling(window=20).mean()
    
    def calculate_md(series):
        return abs(series - series.mean()).mean()
    
    ta['MD'] = ta['TP'].rolling(window=20).apply(calculate_md)
    
    # Calculate the CCI
    ta['CCI'] = (ta['TP'] - ta['SMA_TP']) / (0.015 * ta['MD'])
    
    def CCI_td(CCI_values):
        if CCI_values >= 100:
            return -1
        elif CCI_values <= -100:
            return 1
        else:
            return 0
    
    ta['CCI_td'] = ta.CCI.apply(CCI_td)

    ta = ta[['Date', 'Price', 'Open', 'High', 'Low', 'Volume', 'pct_change',
       'Tomorrow', 'Gold_Price', 'Gold_Open', 'Gold_High', 'Gold_Low',
       'Gold_Volume', 'Gold_pct_change', 'SNP_Price', 'SNP_Open', 'SNP_High',
       'SNP_Low', 'SNP_Volume', 'SNP_pct_change', 'VIX_Price', 'VIX_Open',
       'VIX_High', 'VIX_Low', 'VIX_pct_change','MA_td','3MA_td',
       '%K_td','%D_td','RSI_td',
       'Momentum_td','MACD_td','CCI_td']]

    return ta

In [113]:
btcc, ethh, soll = technical_analysis(btc), technical_analysis(eth), technical_analysis(sol)

In [115]:
btcc.to_csv('data/model/btc_model_price.csv')
ethh.to_csv('data/model/eth_model_price.csv')
soll.to_csv('data/model/sol_model_price.csv')

: