### Downloading the Price datasets

#### Prices from Investing.com
BTC: https://www.investing.com/crypto/bitcoin/historical-data <br>
ETH: https://www.investing.com/crypto/ethereum/historical-data <br>
SOL: https://www.investing.com/crypto/solana/historical-data <br>
SNP500: https://www.investing.com/indices/us-spx-500-historical-data <br>
VIX: https://www.investing.com/indices/volatility-s-p-500-historical-data <br>
GOLD: https://www.investing.com/commodities/gold-historical-data

#### TVL from DeFi Lama
BTC: https://defillama.com/chain/Bitcoin <br>
ETH: https://defillama.com/chain/Ethereum <br>
SOL: https://defillama.com/chain/Solana

In [37]:
import pandas as pd

# Load in main price datasets
btc = pd.read_csv('data/price/btc.csv')
eth = pd.read_csv('data/price/eth.csv')
sol = pd.read_csv('data/price/sol.csv')

#### Creating functions for pre-proccesing 
# 1. Removing the Comma from the price action 
def comma_form (column): 
    column = column.str.replace(',', '')
    column = pd.to_numeric(column, errors='coerce')
    return column

# 2. Converting the Volume Function 
def convert_volume(volume):
    # Check if the value is a string and needs conversion
    if isinstance(volume, str):
        factor = 1
        if volume.endswith('K'):
            factor = 10**3
        elif volume.endswith('M'):
            factor = 10**6
        elif volume.endswith('B'):
            factor = 10**9
        # Remove the last character and convert to float
        return float(volume[:-1]) * factor
    else:
        # If not a string, return as is (assuming it's already a numeric type)
        return volume
    
# 3. Adjusting the Change % Column 
def percent(percent):
    return pd.to_numeric(percent.str.replace('%', '')) / 100

# 4. Date Selection
def date_filter(df, start_date_str, end_date_str):

    # Convert start and end date strings to datetime
    start_date = pd.to_datetime(start_date_str, dayfirst=True)
    end_date = pd.to_datetime(end_date_str, dayfirst=True)

    # Filter based on the date range
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    return df.loc[mask]

### BTC PRICES

In [38]:
# 1. Converting the Date columns to Date
btc.Date = pd.to_datetime(btc.Date)

# 2. Applying the Comma function on Prices
btc.Price = comma_form(btc.Price)
btc.Open = comma_form(btc.Open)
btc.High = comma_form(btc.High)
btc.Low = comma_form(btc.Low)

# 3. Renaming Volume and applying fomatting
btc['Volume']= btc['Vol.']
btc.Volume = btc.Volume.apply(convert_volume)
    
# 4. Applying the PCT Change Column
btc['Change %'] = percent(btc['Change %'])
btc['pct_change'] = btc['Change %']

# 5. Deleting old formatted columns
btc = btc.drop(['Vol.', 'Change %'], axis = 1)

#mark.to_csv('Data/Model_Data/SOL_Latest.csv', index = False)    

btc

           Date    Price     Open     High      Low    Volume  pct_change
0    2024-06-11  67191.4  69537.9  69573.3  66766.3   81720.0     -0.0337
1    2024-06-10  69538.2  69650.2  70152.5  69259.9   39120.0     -0.0016
2    2024-06-09  69650.6  69310.5  69847.8  69136.7   20990.0      0.0049
3    2024-06-08  69310.1  69347.0  69572.1  69222.4   23030.0     -0.0005
4    2024-06-07  69347.9  70793.4  71956.5  68620.7   82620.0     -0.0204
...         ...      ...      ...      ...      ...       ...         ...
1619 2020-01-05   7372.5   7376.8   7501.0   7345.6  628140.0     -0.0006
1620 2020-01-04   7376.8   7345.1   7433.1   7291.4  523910.0      0.0046
1621 2020-01-03   7343.1   6967.1   7402.9   6884.1  936290.0      0.0540
1622 2020-01-02   6967.0   7199.7   7209.6   6901.4  632780.0     -0.0323
1623 2020-01-01   7199.8   7196.4   7259.4   7180.0  420280.0      0.0005

[1624 rows x 7 columns]

#### ETH PRICES

In [39]:
# 1. Converting the Date columns to Date
eth.Date = pd.to_datetime(eth.Date)

# 2. Applying the Comma function on Prices
eth.Price = comma_form(eth.Price)
eth.Open = comma_form(eth.Open)
eth.High = comma_form(eth.High)
eth.Low = comma_form(eth.Low)

# 3. Renaming Volume and applying fomatting
eth['Volume']= eth['Vol.']
eth.Volume = eth.Volume.apply(convert_volume)
    
# 4. Applying the PCT Change Column
eth['Change %'] = percent(eth['Change %'])
eth['pct_change'] = eth['Change %']

# 5. Deleting old formatted columns
eth = eth.drop(['Vol.', 'Change %'], axis = 1)

#mark.to_csv('Data/Model_Data/SOL_Latest.csv', index = False)    

eth

           Date    Price     Open     High      Low      Volume  pct_change
0    2024-06-11  3536.02  3667.85  3672.92  3503.90    362530.0     -0.0359
1    2024-06-10  3667.85  3706.32  3711.90  3650.33    165290.0     -0.0104
2    2024-06-09  3706.32  3681.59  3719.02  3668.45    108790.0      0.0067
3    2024-06-08  3681.59  3678.36  3709.44  3670.34    147950.0      0.0009
4    2024-06-07  3678.37  3812.95  3840.88  3608.44    384780.0     -0.0353
...         ...      ...      ...      ...      ...         ...         ...
1619 2020-01-05   135.59   134.32   138.33   134.32  12190000.0      0.0094
1620 2020-01-04   134.33   134.30   135.57   132.76  11160000.0      0.0004
1621 2020-01-03   134.27   127.19   134.86   126.05  15670000.0      0.0556
1622 2020-01-02   127.19   130.75   130.77   126.74  11450000.0     -0.0272
1623 2020-01-01   130.75   129.21   132.97   128.81  10350000.0      0.0119

[1624 rows x 7 columns]

#### SOL PRICES

In [40]:
# 1. Converting the Date columns to Date
sol.Date = pd.to_datetime(sol.Date)

# 3. Renaming Volume and applying fomatting
sol['Volume']= sol['Vol.']
sol.Volume = sol.Volume.apply(convert_volume)
    
# 4. Applying the PCT Change Column
sol['Change %'] = percent(sol['Change %'])
sol['pct_change'] = sol['Change %']

# 5. Deleting old formatted columns
sol = sol.drop(['Vol.', 'Change %'], axis = 1)

#mark.to_csv('Data/Model_Data/SOL_Latest.csv', index = False)    

sol

           Date    Price     Open     High      Low     Volume  pct_change
0    2024-06-11  153.717  159.048  159.644  152.637  3780000.0     -0.0335
1    2024-06-10  159.049  162.129  163.123  157.623  2590000.0     -0.0190
2    2024-06-09  162.136  157.818  163.014  156.625  2180000.0      0.0273
3    2024-06-08  157.829  162.504  163.716  157.403  2690000.0     -0.0288
4    2024-06-07  162.504  170.114  172.583  155.049  5110000.0     -0.0447
...         ...      ...      ...      ...      ...        ...         ...
1418 2020-07-22    1.046    1.004    1.087    1.003        NaN      0.0417
1419 2020-07-21    1.004    0.874    1.005    0.874        NaN     -0.2741
1420 2020-07-15    1.383    1.115    1.384    1.115        NaN      0.2400
1421 2020-07-14    1.115    1.279    1.279    1.114        NaN     -0.1278
1422 2020-07-13    1.279    1.009    1.279    1.009        NaN      0.2671

[1423 rows x 7 columns]

#### Adding the TVL Data

In [41]:
btc_tvl = pd.read_csv('data/tvl/btc_tvl.csv')
eth_tvl = pd.read_csv('data/tvl/eth_tvl.csv')
sol_tvl = pd.read_csv('data/tvl/sol_tvl.csv')

def tvl_pro(df):
    df = df[:1]
    df = df.melt(var_name='Date', value_name='TVL')
    df = df.drop(index=0).reset_index(drop=True)
    df.Date = pd.to_datetime(df.Date, dayfirst=True)
    return df

btc_tvl, eth_tvl, sol_tvl = tvl_pro(btc_tvl), tvl_pro(eth_tvl), tvl_pro(sol_tvl)

btc, eth, sol = pd.merge(btc, btc_tvl, on='Date', how='left'), pd.merge(eth, eth_tvl, on='Date', how='left'), pd.merge(sol, sol_tvl, on='Date', how='left')
sol

,Date,Price,Open,High,Low,Volume,pct_change,TVL
0,2024-06-11,153.717,159.048,159.644,152.637,3780000.0,-0.0335,5708721444.897778
1,2024-06-10,159.049,162.129,163.123,157.623,2590000.0,-0.0190,6050246698.856347
2,2024-06-09,162.136,157.818,163.014,156.625,2180000.0,0.0273,6000682560.60632
3,2024-06-08,157.829,162.504,163.716,157.403,2690000.0,-0.0288,6088939431.895033
4,2024-06-07,162.504,170.114,172.583,155.049,5110000.0,-0.0447,6362935949.267025
...,...,...,...,...,...,...,...,...
1418,2020-07-22,1.046,1.004,1.087,1.003,NaN,0.0417,NaN
1419,2020-07-21,1.004,0.874,1.005,0.874,NaN,-0.2741,NaN
1420,2020-07-15,1.383,1.115,1.384,1.115,NaN,0.2400,NaN
1421,2020-07-14,1.115,1.279,1.279,1.114,NaN,-0.1278,NaN
1422,2020-07-13,1.279,1.009,1.279,1.009,NaN,0.2671,NaN

#### Proccess Gold, SNP, and VIX Data

In [42]:
gold = pd.read_csv('data/price/gold.csv')
snp = pd.read_csv('data/price/snp.csv')
vix = pd.read_csv('data/price/vix.csv')

gold.Date, snp.Date, vix.Date = pd.to_datetime(gold.Date), pd.to_datetime(snp.Date), pd.to_datetime(vix.Date)

# 2. Applying the Comma function on Prices
gold.Price, snp.Price = comma_form(gold.Price), comma_form(snp.Price)
gold.Open, snp.Open = comma_form(gold.Open), comma_form(snp.Open)
gold.High, snp.High = comma_form(gold.High), comma_form(snp.High)
gold.Low, snp.Low= comma_form(gold.Low), comma_form(snp.Low)

# 3. Renaming Volume and applying fomatting
gold['Volume'], snp['Volume']= gold['Vol.'], snp['Vol.']
gold.Volume, snp.Volume = gold.Volume.apply(convert_volume), snp.Volume.apply(convert_volume)

# 4. Applying the PCT Change Column
gold['Change %'], snp['Change %'], vix['Change %']  = percent(gold['Change %']), percent(snp['Change %']), percent(vix['Change %'])
gold['pct_change'], snp['pct_change'], vix['pct_change'] = gold['Change %'], snp['Change %'], vix['Change %']

# 5. Deleting old formatted columns
gold, snp, vix = gold.drop(['Vol.', 'Change %'], axis = 1), snp.drop(['Vol.', 'Change %'], axis = 1), vix.drop(['Vol.', 'Change %'], axis = 1)

###### A function to fill in missing dates in Gold, SNP, and VIX prices from the previous column. This is because on the weekends the markets are closed

In [43]:
# Fill missing dates and prices
def fill_missing_data(df):
    # Convert 'Date' to datetime
    df['Date'] = pd.to_datetime(df['Date'])

# Set the date as the index
    df.set_index('Date', inplace=True)

# Create a date range from the min to the max date in the DataFrame
    date_range = pd.date_range(start=df.index.min(), end=df.index.max(), freq='D')

# Reindex the DataFrame to the new date range
    df = df.reindex(date_range)

# Fill missing values by propagating the last valid observation forward
    df.fillna(method='ffill', inplace=True)

# Reset the index to get the date column back
    df.reset_index(inplace=True)
    df.rename(columns={'index': 'Date'}, inplace=True)
    
    return df

gold, snp, vix = fill_missing_data(gold), fill_missing_data(snp), fill_missing_data(vix)
gold

           Date   Price     Open     High     Low    Volume  pct_change
0    2020-01-02  1528.1  1521.00  1534.00  1519.7  270550.0      0.0033
1    2020-01-03  1552.4  1531.70  1556.60  1530.4  436740.0      0.0159
2    2020-01-04  1552.4  1531.70  1556.60  1530.4  436740.0      0.0159
3    2020-01-05  1552.4  1531.70  1556.60  1530.4  436740.0      0.0159
4    2020-01-06  1568.8  1562.70  1590.90  1562.3  558970.0      0.0106
...         ...     ...      ...      ...     ...       ...         ...
1618 2024-06-07  2325.0  2395.70  2406.70  2304.2  314550.0     -0.0276
1619 2024-06-08  2325.0  2395.70  2406.70  2304.2  314550.0     -0.0276
1620 2024-06-09  2325.0  2395.70  2406.70  2304.2  314550.0     -0.0276
1621 2024-06-10  2327.0  2311.00  2331.30  2304.5  142890.0      0.0009
1622 2024-06-11  2329.6  2327.15  2337.15  2314.6  142890.0      0.0011

[1623 rows x 7 columns]

#### Merging Gold, SNP, and VIX Datatables

In [44]:
ext = pd.merge(gold, snp, on='Date')
ext = pd.merge(ext, vix, on='Date')

# Assuming df is your DataFrame
ext.rename(columns={
    'Price_x': 'Gold_Price',
    'Open_x': 'Gold_Open',
    'High_x': 'Gold_High',
    'Low_x': 'Gold_Low',
    'Volume_x': 'Gold_Volume',
    'pct_change_x': 'Gold_pct_change',
    'Price_y': 'SNP_Price',
    'Open_y': 'SNP_Open',
    'High_y': 'SNP_High',
    'Low_y': 'SNP_Low',
    'Volume_y': 'SNP_Volume',
    'pct_change_y': 'SNP_pct_change',
    'Price': 'VIX_Price',
    'Open': 'VIX_Open',
    'High': 'VIX_High',
    'Low': 'VIX_Low',
    'pct_change': 'VIX_pct_change'
}, inplace=True)

##### Creating the 'tomorrow' independent variable

In [45]:
def tomorrow(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.sort_values(by='Date', ascending=False)
    df['Tomorrow'] = df.Price.shift(1)
    df['Tomorrow'] = (df.Tomorrow > df.Price).astype(int)
    return df

btc, eth, sol = tomorrow(btc), tomorrow(eth), tomorrow(sol)

##### Join Gold, SNP, and VIX to Crypto Price Dataset

In [46]:
def join_other(df):
    df = pd.merge(df, ext, on='Date', how='left')
    return df
btc_1, eth_1, sol_1 = join_other(btc), join_other(eth), join_other(sol)

##### Function to create the technical indicators

In [47]:
def technical_analysis(df):
    # Create a copy of the input DataFrame
    ta = df.copy()
    
    # 10D MA
    ta['MA'] = ta.Price.rolling(window=10).mean()
    ta['MA_td'] = (ta.Price > ta.MA).astype(int)
    
    # 30D MA
    ta['3MA'] = ta.Price.rolling(window=30).mean()
    ta['3MA_td'] = (ta.Price > ta['3MA']).astype(int)
    
    # %K
    lowest_low = ta.Low.rolling(window=10).min()
    highest_high = ta.High.rolling(window=10).max()
    ta['%K'] = (ta.Price - lowest_low) / (highest_high - lowest_low) * 100
    ta['%K_td'] = (ta['%K'] > ta['%K'].shift(1)).astype(int)
    
    # Calculate %D
    ta['%D'] = ta['%K'].rolling(window=3).mean()
    ta['%D_td'] = (ta['%D'] > ta['%D'].shift(1)).astype(int)
    
    # RSI 
    delta = ta.Price.diff()
    gain = (delta.where(delta > 0, 0)).rolling(window=14).mean()
    loss = (-delta.where(delta < 0, 0)).rolling(window=14).mean()
    rs = gain / loss
    ta['RSI'] = 100 - (100 / (1 + rs))
    
    def RSI_td(rsi_values):
        if rsi_values >= 70:
            return -1
        elif rsi_values <= 30:
            return 1
        else:
            return 0
    
    ta['RSI_td'] = ta.RSI.apply(RSI_td)
    
    # Momentum 
    momentum_window = 10 
    ta['Momentum'] = ta.Price - ta.Price.shift(momentum_window)
    ta['Momentum_td'] = (ta.Momentum > 1).astype(int)
    
    # MACD 12,26,9
    ta['EMA12'] = ta.Price.ewm(span=12, adjust=False).mean()
    ta['EMA26'] = ta.Price.ewm(span=26, adjust=False).mean()
    ta['MACD'] = ta['EMA12'] - ta['EMA26']
    ta['Signal'] = ta['MACD'].ewm(span=9, adjust=False).mean()
    ta['MACD_td'] = (ta['MACD'] > ta['MACD'].shift(1)).astype(int)
    
    # CCI
    ta['TP'] = (ta['High'] + ta['Low'] + ta['Price']) / 3
    
    # Calculate the 20-period Simple Moving Average of the Typical Price
    ta['SMA_TP'] = ta['TP'].rolling(window=20).mean()
    
    def calculate_md(series):
        return abs(series - series.mean()).mean()
    
    ta['MD'] = ta['TP'].rolling(window=20).apply(calculate_md)
    
    # Calculate the CCI
    ta['CCI'] = (ta['TP'] - ta['SMA_TP']) / (0.015 * ta['MD'])
    
    def CCI_td(CCI_values):
        if CCI_values >= 100:
            return -1
        elif CCI_values <= -100:
            return 1
        else:
            return 0
    
    ta['CCI_td'] = ta.CCI.apply(CCI_td)

    ta = ta[['Date', 'Price', 'Open', 'High', 'Low', 'Volume', 'pct_change','TVL',
       'Tomorrow', 'Gold_Price', 'Gold_Open', 'Gold_High', 'Gold_Low',
       'Gold_Volume', 'Gold_pct_change', 'SNP_Price', 'SNP_Open', 'SNP_High',
       'SNP_Low', 'SNP_Volume', 'SNP_pct_change', 'VIX_Price', 'VIX_Open',
       'VIX_High', 'VIX_Low', 'VIX_pct_change','MA_td','3MA_td',
       '%K_td','%D_td','RSI_td',
       'Momentum_td','MACD_td','CCI_td']]

    return ta

In [48]:
btcc, ethh, soll = technical_analysis(btc_1), technical_analysis(eth_1), technical_analysis(sol_1)

Sample Dataset for BTC

In [49]:
btcc.head(10)

,Date,Price,Open,High,Low,Volume,pct_change,TVL,Tomorrow,Gold_Price,...,VIX_Low,VIX_pct_change,MA_td,3MA_td,%K_td,%D_td,RSI_td,Momentum_td,MACD_td,CCI_td
0,2024-06-11,67191.4,69537.9,69573.3,66766.3,81720.0,-0.0337,1104883926.148234,0,2329.6,...,12.74,0.0330,0,0,0,0,0,0,0,0
1,2024-06-10,69538.2,69650.2,70152.5,69259.9,39120.0,-0.0016,1164491247.051705,0,2327.0,...,12.62,0.0426,0,0,0,0,0,0,1,0
2,2024-06-09,69650.6,69310.5,69847.8,69136.7,20990.0,0.0049,1158554012.969358,0,2325.0,...,12.11,-0.0286,0,0,0,0,0,0,1,0
3,2024-06-08,69310.1,69347.0,69572.1,69222.4,23030.0,-0.0005,1159399106.674628,1,2325.0,...,12.11,-0.0286,0,0,0,0,0,0,1,0
4,2024-06-07,69347.9,70793.4,71956.5,68620.7,82620.0,-0.0204,1186340539.253732,0,2325.0,...,12.11,-0.0286,0,0,0,0,0,0,1,0
5,2024-06-06,70791.5,71083.6,71616.1,70178.7,49790.0,-0.0041,1192592052.885545,0,2390.9,...,12.54,-0.0040,0,0,0,0,0,0,1,0
6,2024-06-05,71083.7,70550.9,71744.4,70397.1,67060.0,0.0076,1195948698.097365,0,2375.5,...,12.60,-0.0403,0,0,0,0,0,0,1,0
7,2024-06-04,70549.2,68808.0,71034.2,68564.3,75690.0,0.0253,1166483982.760765,1,2347.4,...,13.11,0.0038,0,0,0,0,0,0,1,0
8,2024-06-03,68807.8,67763.3,70131.0,67616.8,69420.0,0.0153,1145947560.522376,1,2369.3,...,13.00,0.0147,0,0,0,0,0,0,0,0
9,2024-06-02,67773.5,67760.8,68447.5,67330.6,30630.0,0.0002,1144634501.808956,1,2345.8,...,12.84,-0.1071,0,0,0,0,0,0,0,0

Saving the datasets for further proccessing

In [50]:
btcc.to_csv('data/model/btc_model_price.csv')
ethh.to_csv('data/model/eth_model_price.csv')
soll.to_csv('data/model/sol_model_price.csv')